dados_operacao/dengue-2025.xlsx
dados_operacao/casos_2025_se46.xlsx
dados_operacao/relatorio.xlsx # Araranguá
dados_operacao/relatorio(1).xlsx # Xanxerê
dados_operacao/relatorio(2).xlsx # Videira
dados_operacao/relatorio(3).xlsx # Tubarão
dados_operacao/relatorio(4).xlsx # São Miguel do Oeste
dados_operacao/relatorio(5).xlsx # São José
dados_operacao/relatorio(6).xlsx # Rio do Sul
dados_operacao/relatorio(7).xlsx # Mafra
dados_operacao/relatorio(8).xlsx # Lages
dados_operacao/relatorio(9).xlsx # Joinville
dados_operacao/relatorio(10).xlsx # Joaçaba
dados_operacao/relatorio(11).xlsx # Jaraguá do Sul
dados_operacao/relatorio(12).xlsx # Itajaí
dados_operacao/relatorio(13).xlsx # Criciúma
dados_operacao/relatorio(14).xlsx # Concórdia
dados_operacao/relatorio(15).xlsx # Chapecó
dados_operacao/relatorio(16).xlsx # Blumenau
